# These files are created automatically or on individual purpose of the user. They shall not be push to the repository
settings/Audio_Folders_Path
settings/Audio_iFace_Active
settings/Audio_Volume_Change_Step
settings/Audio_iFace_Name
settings/Change_Volume_Idle
settings/CHAPTEREXTENSIONS
settings/CHAPTERMINDURATION
settings/cover.jpg
settings/debugLogging.conf
settings/edition
settings/global.conf
settings/Idle_Time_Before_Shutdown
settings/Lang
settings/Latest_Folder_Played
settings/Latest_Played_File
settings/Latest_Playlist_Played
settings/Latest_RFID
settings/MailWlanIpYN
settings/Max_Volume_Limit
settings/Min_Volume_Limit
settings/Playlists_Folders_Path
settings/Poweroff_Command
settings/rfid_trigger_play.conf
settings/Rfidreader_Rc522_Readmode_UID
settings/Second_Swipe*
settings/ShowCover
settings/Startup_Volume
settings/Swipe_or_Place
settings/sync-shared.conf
settings/sync-shared-enabled
settings/version*
settings/Volume_*
settings/WlanIp*
htdocs/config.php
scripts/deviceName.txt
scripts/gpio-buttons.py
settings/PhonieboxInstall.conf

shared/*
playlists/*
pythonenv*/*
logs/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.git
.venv
*~
*.*~
*.pyc
*.idea
node_modules/


# Created by https://www.gitignore.io/api/composer
# Edit at https://www.gitignore.io/?templates=composer

### Composer ###
composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

# End of https://www.gitignore.io/api/composer
